.dark-theme {

  ion-content,
  ion-item,
  p,
  #pages {
    background-color: #303030;
    color: #fff;
  }

  #menu{
    background-color: #303030;
    color: #fff;
  }

  #url{
    background-color: #252525;
    color: #fff;
    border: #fff;

  }
 
  .toolbar-title {
    color: #fff;
  }
 
  .header .toolbar-background {
    background-color: #3a3939
  }
}  