<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cmhplugin" version="1.0.0">
    
    <name>CheckMyHTTPS Plugin</name>
    <description>Cordova CheckMyHTTPS Plugin</description>

    <license>GPLv3</license>

    <keywords>Certificate,SSL,HTTPS,Man in the Middle,MitM,SHA256</keywords>

    <repo>https://github.com/checkmyhttps/checkmyhttps/</repo>
    <issue>https://github.com/checkmyhttps/checkmyhttps/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/cmh.js" name="cmhPlugin">
        <clobbers target="window.plugins.cmhPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="cmhPlugin">
                <param name="android-package" value="com.defaria.cordova.plugin.cmhPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <source-file src="src/android/cmhPlugin.java" target-dir="src/com/defaria/cordova/plugin"/>
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="cmhPlugin">
                <param name="ios-package" value="cmhPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/cmhPlugin.h"/>
        <source-file src="src/ios/cmhPlugin.m"/>
        <framework src="Security.framework"/>
    </platform>
</plugin>
