<?xml version='1.0' encoding='utf-8'?>
<plugin id="fr.esiea.checkmyhttps.cmhplugin" version="1.2.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CMHPlugin</name>
    <js-module name="CMHPlugin" src="www/CMHPlugin.js">
        <clobbers target="cordova.plugins.CMHPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CMHPlugin">
                <param name="android-package" value="fr.esiea.checkmyhttps.cmhplugin.CMHPlugin" />
            </feature></config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CMHPlugin.java" target-dir="src/fr/esiea/checkmyhttps/cmhplugin" />
    </platform>
</plugin>